# files that appear after compiling the xmonad.hs file
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o

# swapfiles
*.swp

# All bundles that we download with vundle
vim/bundle/*
!vim/bundle/vundle
